stages:
  - build
  - deploy

variables:

.runner-tags: &runner-tags
  tags:
    - netcore31

Build:
  <<: *runner-tags
  stage: build
  script:
    - nuget restore "./UnitsNet.sln"
    - dotnet msbuild "./UnitsNet.sln" /t:build /p:Configuration=Release

Publish on nuget:
  <<: *runner-tags
  stage: deploy
  only:
    - tags
  script:
    - nuget restore "./UnitsNet.sln"
    - dotnet msbuild "./UnitsNet.sln" /t:pack /p:"Configuration=Release;PackageOutputPath=nugets;Version=$CI_COMMIT_TAG"
    - nuget push (Resolve-Path -Relative "./nugets/*.nupkg") -Source $BAGET_URL -ApiKey $BAGET_API_KEY
  artifacts:
    expire_in: 7 day
    paths:
      - nugets/
